rq-footer {
    background: #1f2937;
    color: #ccc;
    text-align: center;
    padding: 30px 20px;
    font-size: 0.9rem;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    display: block;
}

rq-footer a {
    color: #93c5fd;
    text-decoration: none;
    margin: 0 10px;
}