.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
}

.overlay svg {
    margin: 1rem;
    width: 95dvw;
    height: 95dvh;
    display: block;
}